---
import Layout from "../layouts/Layout.astro";

// Obtener todos los posts y ordenarlos por fecha de publicación (más recientes primero)
const allBlogPost = (await Astro.glob("./posts/*.md")).sort((a, b) => {
  return (
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
  );
});
---

<Layout
  title="AlejoGomezQ | Desarrollador web"
  description="Contratame para desarrollar, administrar o mejorar tu sitio web o aplición con tecnologias como Angular, Java, Wordpress"
>
  <main class="px-4 my-20">
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {
          allBlogPost.map((post) => (
            <a
              href={post.url}
              class="group flex flex-col justify-between h-[32rem] p-6 rounded-lg border border-white/10 bg-slate/30 hover:bg-slate/50 hover:border-violet-500/50 transition duration-300"
            >
              <div>
                <h5 class="mb-4 text-2xl font-bold tracking-tight text-violet-400 group-hover:text-violet-300">
                  {post.frontmatter.title}
                </h5>
                <p class="font-normal text-gray-300 text-pretty">
                  {post.frontmatter.description}
                </p>
              </div>
              <div class="mt-4 text-violet-400/80 group-hover:text-violet-300">
                Leer más →
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
