---
import Layout from "../layouts/Layout.astro";

const allBlogPost = await Astro.glob("./posts/*.md");
---

<Layout
  title="AlejoGomezQ | Desarrollador web"
  description="Contratame para desarrollar, administrar o mejorar tu sitio web o aplición con tecnologias como Angular, Java, Wordpress"
>
  <main class="flex justify-center items-center my-20 flex-grow">
    {
      allBlogPost.reverse().map((post) => (
        <a
          href={post.url}
          class="flex-1 flex flex-col justify-between mx-4 max-w-sm min-h-[22rem] p-6 rounded-lg border border-white/10 bg-slate hover:scale-110 transition"
        >
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-violet-400">
            {post.frontmatter.title}
          </h5>
          <p class="font-normal text-gray-300 text-pretty">
            {post.frontmatter.description}
          </p>
        </a>
      ))
    }
  </main>
</Layout>
