---
import Layout from "../layouts/Layout.astro";

const allBlogPost = await Astro.glob("./posts/*.md");
---

<Layout
  title="AlejoGomezQ | Desarrollador web"
  description="Contratame para desarrollar, administrar o mejorar tu sitio web o aplición con tecnologias como Angular, Java, Wordpress"
>
  {
    allBlogPost.map((post) => (
      <a
        href={post.url}
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
      >
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          {post.frontmatter.title}
        </h5>
        <p class="font-normal text-gray-700">{post.frontmatter.description}</p>
      </a>
    ))
  }
</Layout>
