---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import CurriculumIcon from "../components/icons/Curriculum.astro";
import SocialBadge from "../components/SocialBadge.astro";
---

<Layout
  title="AlejoGomezQ | Desarrollador web"
  description="Contratame para desarrollar, administrar o mejorar tu sitio web o aplición con tecnologias como Angular, Java, Wordpress"
>
  <main>
    <section class="py-44 w-[1120px] mx-auto">
      <div class="flex items-center">
        <div class="size-44">
          <img
            class="profile-photo rounded-full"
            src="https://avatars.githubusercontent.com/u/83100536?v=4"
            alt="alejo-gomez-portafolio"
          />
        </div>

        <div class="pl-10">
          <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
            Soy AlejoGomezQ <a
              class="flex items-center"
              target="_blank"
              rel="noopener"
              href="https://www.linkedin.com/in/alejogomezq/"
              ><Badge>Disponible</Badge></a
            >
          </h1>
          <h2 class="text-xl">
            <span>Ingeniero de sistemas e ingeniero en nanotecnología.</span>
            <span class="text-violet-400">
              3 años de experencia como desarrollador frontend.</span
            > Las tecnologías que manejo son HTML5, CSS3, Java, Javascript y Typescript
            y tengo experiencia en frameworks y librerías como, Angular, Tailwind
            y Bootstrap. Además, cuento con habilidades en pensamiento sistémico,
            investigación y SCRUM.
          </h2>
        </div>
      </div>

      <ul class="flex gap-x-4 mt-8">
        <li>
          <SocialBadge
            href="../resources/curriculums/HV_Alejandro_Gómez_Q.pdf"
            download="HV_Alejandro_Gómez_Q.pdf"
            ><CurriculumIcon class="size-6" />Descargar CV</SocialBadge
          >
        </li>
        <li>
          <SocialBadge href="https://www.linkedin.com/in/alejogomezq/">
            <LinkedinIcon class="size-6" />LinkedIn</SocialBadge
          >
        </li>
        <li>
          <SocialBadge href="https://github.com/AlejoGomezQ">
            <GitHubIcon class="size-6" /> GitHub</SocialBadge
          >
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  .profile-photo {
    box-shadow: 0 0 20px rgba(175, 78, 255, 0.5);
  }
</style>
