---
import Layout from "../layouts/Layout.astro";

//Components
import SectionContainer from "../components/SectionContainer.astro";
import MainInfo from "../components/MainInfo.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";

//Icons
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import UserIcon from "../components/icons/User.astro";
import ProjectIcon from "../components/icons/Project.astro";
---

<Layout
  title="AlejoGomezQ | Desarrollador web"
  description="Contratame para desarrollar, administrar o mejorar tu sitio web o aplición con tecnologias como Angular, Java, Wordpress"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24" id="inicio">
      <MainInfo />
    </SectionContainer>

    <SectionContainer id="experiencia-laboral">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="experiencia-laboral">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProjectIcon class="size-6" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="pb-24">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <UserIcon class="size-6" />
        Sobre mí
      </h2>
      <p class="pb-4 text-pretty">
        Soy Alejandro Gómez Quiñones, ingeniero en nanotecnología y finalizando
        ingeniería de sistemas. Mis primeros acercamientos en la programación
        fueron en Octave para analizar la liberación de diferentes fármacos
        según una geometría específica.
      </p>
      <p class="text-pretty">
        Algunos de los proyectos más importantes han sido la creación de una PWA
        para cotizar diferentes pólizas de seguros en EE. UU. y la configuración
        de su propio CRM para gestionar toda su información.
      </p>
    </SectionContainer>
  </main>
</Layout>
