<p class="pb-4 text-pretty">
  Soy Alejandro Gómez Quiñones, ingeniero en nanotecnología y finalizando
  ingeniería de sistemas. Mis primeros acercamientos en la programación fueron
  en Octave para analizar la liberación de diferentes fármacos según una
  geometría específica.
</p>
<p class="text-pretty">
  Algunos de los proyectos más importantes han sido la creación de una PWA para
  cotizar diferentes pólizas de seguros en EE. UU. y la configuración de su
  propio CRM para gestionar toda su información.
</p>
