<p class="pb-3 text-pretty">
  Soy un desarrollador Full Stack en Mercado Libre, fusionando una base
  científica única (Ingeniería en Nanotecnología y de Sistemas) con la pasión
  por la tecnología de impacto. Actualmente, participo en iniciativas clave en
  Mercado Credits para mejorar la experiencia de usuario y automatizar procesos
  críticos.
</p>
<p class="pb-3 text-pretty">
  Mi trayectoria comenzó programando modelos de liberación de fármacos en
  Octave, una base analítica que me impulsa a crear soluciones tecnológicas
  orientadas a resultados.
</p>
<p class="pb-3 text-pretty">
  Mi foco principal está en la implementación de soluciones innovadoras:
  rediseñé el admin de Mercado Crédito para merchants, reduciendo la carga
  cognitiva y optimizando procesos mediante automatización con n8n e IA.
  Previamente, participé en la migración exitosa de una app de geolocalización
  de React a Next.js en Novadeha, mejorando significativamente el UX final.
</p>
<p class="pb-3 text-pretty">
  Me especializo en ecosistemas React, Next.js y TypeScript, con un fuerte
  énfasis en la gobernanza de IA y la automatización. Mi objetivo es claro:
  crear soluciones web modernas y eficientes que generen un impacto positivo y
  tangible en la experiencia de quienes las utilizan.
</p>
