---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Enero 2023 - Febrero 2024",
    company: "Worx1 HR",
    position: "Desarrollador Frontend",
    description: [
      "Estructura y desarrollo de una aplicación que cotiza seguros. Desarrollo de una PWA para captar leads y rastrearlos. Implementación de un CRM con ERPNext para gestionar todos los leads que cotizan una póliza de seguro y almacenar la información para completar diferentes documentos.",
    ],
    link: "https://worx1hr.com/",
  },
  {
    date: "Mayo 2022 - Noviembre 2022",
    company: "AIM Intelligence Solutions",
    position: "Desarrollador Frontend",
    description: [
      "Diseño de interfaces de usuario visualmente atractivas y funcionales. Creación de aplicaciones y sitios web responsivos. Optimización SEO de sitios web.",
    ],
    link: "https://aimsolutionscompany.com/",
  },
  {
    date: "Febrero 2021 - Mayo 2022",
    company: " Ventu Agency",
    position: "Webmaster",
    description: [
      "Creación de sitios web (landingpages, micrositios, sitios web, comercio electrónico). Análisis y actualizaciones del sitio web. Mejoras de UX/UI. Administración de zona DNS. Optimización SEO para motores de búsqueda.",
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
