<footer class="shadow m-4 mb-10">
  <div
    class="flex justify-between items-center py-3w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
  >
    <span class="text-sm font-semibold text-white/90 sm:text-center">
      AlejoGomezQ
    </span>
    <ul
      class="flex flex-row flex-wrap text-sm font-medium text-white/90 sm:mt-0"
    >
      <li>
        <a href="#experiencia" class="me-4 md:me-6">Experiencia</a>
      </li>
      <li>
        <a href="#proyectos" class="me-4 md:me-6">Proyectos</a>
      </li>
      <li>
        <a href="#sobre-mi" class="">Sobre mí</a>
      </li>
    </ul>
  </div>
</footer>
